@value makerWhite,makerGrey,makerPink,makerLightGrey, makerMidGrey, makerDarkGreen, makerGreen from '../../Review/common/color.css';
@value fontEn from '../../Review/common/font.css';

textarea:focus, input:focus{
    outline: none;
}

.container {
    border: 2px solid makerLightGrey;
    border-radius: 10px;
    width: 78.5%;
    margin: auto;
    height: 12rem;
}

.user {
    margin-left: 1.1rem;
}

.user > span {
    font-size: 0.9rem;
    color: makerGrey;
}
.comment_form {
    display: flex;
    justify-content: center;
    width: 98% !important;
    align-items:flex-end;
}
.textarea {
    width: 90%;
    height: 110px;
    resize: none;
    border: 0;
}

.button {
    border: none;
    color: makerGrey;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

/*comments CSS*/
.comments_container {
    margin: auto;
    margin-bottom: 4rem;
    width: 80%;
    height: auto;
}

.comments_item {
    position: relative;
    /* border: 1px solid deepskyblue; */
    margin-bottom: 1rem;
}

.comment_userPhoto {
    border-radius: 50%;
    width: 50px;
}

.comment_userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment_boxContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.comments_ellipsis {
    border: none;
    margin-right: 1rem;
    color: makerGrey;
    font-size: 1.2rem;
    background-color: transparent;
    cursor: pointer;
}

.comments_ellipsis_container {
    position: absolute;
    top: 35px;
    right: 30px;
    display: flex;
    flex-direction: column;
    background-color: makerWhite;
    align-items: center;
    justify-content: center;
    border: 1px solid makerLightGrey;
    border-radius: 10px;
    width: 110px;
    height: 100px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}



.comments_ellipsis_container > button {
    cursor: pointer;
    border: none;
    margin: auto;
    width: 100%;
    height: 35%;
    background-color: transparent;
}

.comments_ellipsis_container > button:hover {
    background-color: #EEEDED;
    
}

.comment_userInfo_container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.comments_name {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
}

.comments_email {
    color: makerGrey;
}

.comments_date {
    color: darkgray;
}


.comment_form {
    display: flex;
    width: 70%;
    margin:auto;
}

.comment_write {
    width: 40rem;
    height: 4rem;
}


.comments_text {
    padding-left: 1rem;
}
