@value makerWhite,makerLime, makerBeige, makerGrey,makerPink,makerLightGrey, makerDarkGreen, makerGreen from '../../Review/common/color.css';
@value fontEn from '../../Review/common/font.css';

.container {
    margin: 3rem 2rem;
    margin-bottom: 3rem;
    cursor: pointer;
    background-color: makerBeige;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.dealImg {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
}

.title {
    font-size: 1.3rem;
    margin: 0.8rem;
    color: makerDarkGreen;
}

.name {
    color: makerGreen;
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
}

.hashtags {
    margin-top: 0.5rem;
    color: makerDarkGreen;
}
.hashtags span {
    margin-right: 0.5rem;
}

.likeBox {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5rem;
}

.icon {
    margin: 0;
    padding:0;
    flex: 1;
    height: 2.5rem;
    font-size: 1.5rem;
    background-color: makerLime;
    color: makerDarkGreen;
}

.amount {
    flex: 3;
    margin: 0;
    padding:0;
    height: 2rem;
    height: 2.5rem;
    font-size: 1.5rem;
    background-color: makerDarkGreen;
    color: makerWhite;
}