@value makerWhite, makerLime, makerGrey, makerPink, makerLightGrey, makerMidGrey, makerDarkGreen, makerGreen from '../../Review/common/color.css';
@value fontEn from '../../Review/common/font.css';

* {
    margin: 0;
    padding: 0;
}

.newItem {
    background-color: makerLime;
    color: makerDarkGreen;
    width: 2.5rem; 
    height: 2.5rem;
    line-height: 2.5rem;
    border: makerLime 1px solid;
    border-radius: 50%;
    z-index: 100;
    position: relative;
    top: 4rem;
    right: -1rem;
}