.myPage_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profileChange_box{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 600px;
    color: #004236;
    height: 250px;
}

.mypage_title {
    position: relative;
    top: 0;
    margin: 1rem;
    font-size: 1.2rem;
}

.mypage_info_container, .mypage_grade_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
    height: 130px;
}

.userProfile_photo img{
    width: 90px;
    border-radius: 50%;
}

.mypage_info_box, .mypage_grade_box {
    margin-left: 1rem;
}


.mypage_info_box  p, .mypage_grade_box p {
    font-size: 1.1rem;
}

.mypage_grade_box p {
    color: grey;
}

.userGrade_name,.userGrade_vlaue {
    display:inline;
}

.mypage_info_box  span {
    color: grey;
    font-size: 1rem;
}

.mypage_grade_box span {
    color:#004236;
    font-size: 1.2rem;
    font-weight: bolder;
}

.mypage_info_buttons, .mypage_grade_buttons {
    display: flex;
    margin-bottom: 0;
    align-items:flex-end;
    justify-content: flex-end;
    margin-right: 2rem;
}


.userProfile_change {
    font-size: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.userGrade_info {
    font-size: 1.8rem;
    margin-right: 0.3rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.userProfile_change:hover, .userGrade_info:hover{
    color: #D6CE4B;
}

.userProfile_logout {
    background-color: #3a857e;
    border: 0;
    width: 80px;
    height: 35px;
    border-radius: 15px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.userProfile_logout:hover {
    background-color: #D6CE4B;
    color: #004236;
}

