.fix-container {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.fix-container .navbar {
    height: 120px;
    background-color: #004236;
    color: #F8F3E8;
}
/* nav 2번째 줄*/
.fix-container .site_msg_bar{
    background-color:#3a857e;
    width: 100%;
    height: 85px;
    z-index: -100;
}
/*nav 2번째 줄 text*/
.site_msg{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    transition: all 0.2s ease-in-out;
}

.site_msg:hover {
    color: #D6CE4B;
    text-decoration:underline;
}
/*nav바 스크롤시*/
.fix-container.scrolled .navbar {
    height: 100px;
    background-color: #F8F3E8;
    color: #004236 ;
    opacity: 0.9;
    transition: height 0.3s ease;
    border-bottom: 1px solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.fix-container.scrolled .site_msg_bar {
    display: none;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color:transparent;
    cursor: pointer;
    list-style: none;
    color: #004236;
    
}
.navbar_logo {
    font-weight: bold;
}

.logo_text.scrolled{
    font-family:'Kanit', sans-serif;
    font-size: 2.5rem;

    color: #3A857E;
    text-shadow: #D6CE4B 2px 2px 0px, #9C9C9C 3px 3px 0px;
}

.logo_text{
    font-family:'Kanit', sans-serif;
    font-size: 2.5rem;
    color: #D6CE4B;
    text-shadow: #3A857E 2px 2px 0px, #636463 3px 3px 0px;
}

.navbar_menu {
    list-style: none;
    display: flex;
    font-weight: bold;
    padding-top: 10px;
}
.navbar_menu li {
    padding: 8px 16px;
    font-size: 25px;
    margin-bottom: 14px;
}

/*hover*/
.navbar_menu li:hover {
    color: #D6CE4B;
    transition: all 0.3s ease-in-out;
    text-shadow:  #636463 1px 1px 0px;
}

.navbar_property{
    list-style: none;
    display: flex;
}
.navbar_property li{
    padding: 8px 10px;
    font-size: 15px;
}
.navbar_property li:hover{
    color: #D6CE4B;
    transition: all 0.3s ease-in-out;
    text-shadow:  #636463 1px 1px 0px;
}
.Hamburger{
    display: none;
}
/*모달창 버튼*/
.swal2-actions button{
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #92af94;
    color: #fff;
    font-size: 1em;
    margin: 0.3125em;
    padding: 0.625em 1.1em;
    transition: box-shadow .1s;
    box-shadow: 0 0 0 3px transparent;
    font-weight: 500;
}
@media screen and (max-width: 1260px) {
    .fix-container.scrolled .site_msg_bar {
        transition: height 0.3s ease;
        background-color: #F8F3E8;
        color: #F8F3E8;
        height: 100px;
    }
    .fix-container .site_msg_bar{
        background-color:#3a857e;
        height: 160px;
        width: 100%;
    }
    .site_msg{
        font-size: 20px;
        text-align: center;
        margin-top: 124px;
    }
    .navbar_property{
        display: none;
    }
    .navbar_property.active{
        display: flex;
        position: fixed;
        top: 8%;
        right: 2%;
    }
    .Hamburger{
        position: absolute;
        right: 30px;
        top: 24%;
        display: block;
    }
    .navbar_menu {
        position: fixed;
        left: 30%;
    }
    .navbar_logo{
        position: fixed;
        left: 5%;
    }
}
@media screen and (max-width: 900px) {
    .navbar_logo {
        font-weight: bold;
        margin-top: -18px;
    }
    .fix-container .site_msg_bar{
        background-color:#3a857e;
        height: 200px;
        width: 100%;
    }

    .fix-container.scrolled .navbar {
        height: 125px;
    }
    .site_msg{
        margin-top: 126px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    
    .navbar_menu {
        align-items: center;
        display: none;
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
        font-size: 17px;
        margin-top: 0px;
    }
    .navbar_property li{
        margin-top: -15px;
        color: #F8F3E8;
    }
    .navbar_property li:hover {
        color: #004236;
    }
    .Hamburger{
        position: absolute;
        right: 30px;
        top: 24%;
        display: block;
    }
    .navbar_logo{
        position: fixed;
        left: 5%;
    }
    .navbar_menu.active{
        display:flex;
        position: relative;
        margin-top: 110px;
        left: 1%;

    }
    .navbar_property.active{
        display:flex;
        position: fixed;
        margin-top: 60px;
    }


}
