@value makerWhite,makerGrey, makerDarkBeige,makerBeige,makerLime,  makerPink,makerLightGrey, makerDarkGreen, makerGreen from '../../Review/common/color.css';
@value fontEn from '../../Review/common/font.css';

* {
    box-sizing: border-box;
}

textarea:focus, input:focus{
    outline: none;
}

.reviewWrite {
    position: relative;
    width: 60%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.titleBox {
    border-bottom: 1px solid black;
}

.form {
    max-width: 100%;
    margin:auto;
    margin-top: 1rem;
    /* border: 1px solid red; */
}
.input_title {
    border: 1px solid makerGrey;
    width: 100%;
    padding: 1rem;
    background-color: makerWhite;
}

.textarea {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50vh;
    resize: none;
    border: 1px solid makerGrey;
    padding: 0.8rem;
    background-color: makerWhite;
    margin: 1rem 0;
}


/*마지막 박스*/

.last_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

.inner {
    display: flex;
    align-items: center;
    border: 1px solid makerGrey;
    background-color: makerWhite;
    width: 40rem;
    height: 16rem;
    justify-content: center;
}

.hash_container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    margin-bottom: 0.8rem;
    margin-left: 5rem;
}

.label {
    font-weight: bold;
    margin-right: 0.5rem;
}

.hashtags_box {
    display: flex;
    flex-direction: column;
}

.hashtags {
    border: 1px solid makerGrey;
    width: 15rem;
    padding: 0.8rem;
    background-color: makerWhite;
    margin: 0.2rem;
}



/*파일인풋*/
.input_container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.before_uploadedImg {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: makerWhite;
    color: makerGrey;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.before_uploadedImg > p {
    position: absolute;
    top: 25%;
    left: 18%;
}

.input_button {
    width: 150px;
    height: 35px;
    margin-top: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid makerGrey;
    background-color: makerWhite;
    border-radius: 5px;
}

.input_button span {
    font-size: 1rem;
    color: black;
}


.fileInput {
    display: none;
}

.fileInput, .button {
    margin-top: 0.8rem;
    cursor: pointer;
    margin-right: 1rem;
    border: 1px solid makerGrey;
    background-color: makerWhite;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
}



.fileInput_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}




.submit_buttons {
    position: absolute;
    right: 0;
    bottom: 0;
}

.button_ok {
    margin-top: 0.8rem;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    background-color: makerDarkGreen;
    color: makerWhite;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.1s ease-in-out;
}

.button_ok:hover {

    background-color: makerLime;
    color: makerDarkGreen;
}


/*모달창*/

.modal_container {
    text-align: center;
    position:absolute;
    left:28%;
    top: 20%;
    width: 27rem;
    height: 20rem;
    padding: 0;
    border-radius: 6px;
    background-color: makerDarkGreen;
    animation: appear 0.8s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    box-shadow: 0 25px 40px -20px #3c4a56;
}

.dialog__content > h2 {
    color: makerPink;
}

.dialog__animate-out {
    animation: dissappear 0.8s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.dialog__inner {
    position: absolute;
    color: makerWhite;
    top: 15%;
    left: 10%;
    border-radius:10px;
}

.dialog__content {
    padding: 0 55px 55px 55px;
}

/*로딩스피너*/
.loading {
    position: absolute;
    top: 80%;
    left: 35%;
    width: 5.5em;
    height: 5.5em;
    border-radius: 50%;
    border: 5px solid makerWhite;
    border-top: 5px solid makerPink;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(20px);
   }
    to {
        opacity: 1;
        transform: translateY(0);
   }
}


@keyframes dissappear {
    from {
        opacity: 1;
        transform: translateY(0);
   }
    to {
        opacity: 0;
        transform: translateY(20px);
   }
}

/*반응형*/
@media screen and (max-width: 900px) {
    .reviewWrite {
        width: 85%;
    }

    .inner {
        flex-direction: column;
        height: 33rem;
        border: none;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
    }

    .hash_container {
        margin: 0;
        margin-bottom: 1rem;
    }
}