@value fontEn: 'Roboto', sans-serif;

/*로고 폰트 몇개골라봤어요*/
/*
font-family: 'Black Han Sans', sans-serif;
font-family: 'Bungee', cursive;
font-family: 'Changa One', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Lalezar', cursive;
font-family: 'Libre Barcode 39', cursive;
font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Russo One', sans-serif;
*/